img{
    height: 450px;
    padding: 4px;
    margin-top: 50px;
    border: 5px solid silver;
    margin-left: 00px;
}
body{
   background-color: black;
}
h1{
    color: #b7410e;
    font-size: 5.25rem;
    margin-left: 00px;
}
p{
    color: white;
    font-size: 2em;
}
#poster{
    text-align: center;
}


